In [1]:
import pandas as pd

In [2]:
yelp_final_df=pd.read_csv('yelp_final_df2.csv')

In [3]:
yelp_final_df.head(2)

,review_id,user_id,business_id,name,text,address,city,state,postal_code,latitude,longitude,attributes,categories,Sentiment,Review Rating,Business Rating,Date,Year,Month
0,S337tATeouQJdoPYyir29w,2mxBNBeFrgDszqGS5tdEHA,d_L-rfS1vT3JMzgCUGtiow,Border Grill,Pick any meat on the planet and the chef will ...,3950 S Las Vegas Blvd,Las Vegas,NV,89119.0,36.090067,-115.176973,"{'WiFi': ""u'free'"", 'RestaurantsTakeOut': 'Tru...","Breakfast & Brunch, Restaurants, Tapas/Small P...",Positive,5.0,4.0,2016-07-25 03:57:19,2016,7
1,j3vP8537KHvoXNHQIr3haA,Z_HE_KKT7N-WddPTzUQC7A,jScBTQtdAt-8RshaiBEHgw,Served,"Party of 3 ordered the fish tacos, pork belly ...","1770 W Horizon Ridge, Ste 100",Henderson,NV,89012.0,36.010745,-115.064803,"{'DriveThru': 'False', 'RestaurantsAttire': ""'...","Ethnic Food, American (New), Burgers, Food, Re...",Positive,5.0,4.5,2018-05-28 20:56:05,2018,5

In [4]:
yelp_final_df['Sentiment'].value_counts()

Positive    90207
Negative    39450
Name: Sentiment, dtype: int64

In [5]:
yelp_negative=yelp_final_df.loc[yelp_final_df['Sentiment']=='Negative',:]

In [6]:
yelp_negative.shape

(39450, 19)

In [7]:
import nltk
nltk.download('stopwords')

import string
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/juliusmagsino/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [8]:
#def text_preprocess(mess):
#    """
#    1. remove punc
#    2. remove stop words
#    3. return list of clean text words
#    """
#    nopunc=[char for char in mess if char not in string.punctuation]
#    nopunc=''.join(nopunc)
#    return[word for word in nopunc.split() if word.lower() not in stopwords.words('english')+['mexican','las','vegas']]

In [9]:
neg_text=yelp_negative['text']

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
#vectorizer=CountVectorizer(analyzer=text_preprocess,token_pattern="\\b[a-z][a-z]+\\b")
#doc_word=vectorizer.fit_transform(pos_text)

In [12]:
count_vectorizer = CountVectorizer(ngram_range=(1, 1),  
                                   stop_words={'a','about','above','after','again','against','ain','all','am',
                                               'an','and','any','are','aren',"aren't",'as','at','be','because',
                                               'been','before','being','below','between','both','but','by','can',
                                               'couldn',"couldn't",'d','did','didn',"didn't",'do','does','doesn',
                                               "doesn't",'doing','don',"don't",'down','during','each','few','for',
                                               'from','further','had','hadn',"hadn't",'has','hasn',"hasn't",'have',
                                               'haven',"haven't",'having','he','her','here','hers','herself','him',
                                               'himself','his','how','i','if','in','into','is','isn',"isn't",'it',
                                               "it's",'its','itself','just','ll','m','ma','me','mightn',"mightn't",
                                               'more','most','mustn',"mustn't",'my','myself','needn',"needn't",'no',
                                               'nor','not','now','o','of','off','on','once','only','or','other','our',
                                               'ours','ourselves','out','over','own','re','s','same','shan',"shan't",
                                               'she',"she's",'should',"should've",'shouldn',"shouldn't",'so','some',
                                               'such','t','than','that',"that'll",'the','their','theirs','them',
                                               'themselves','then','there','these','they','this','those','through',
                                               'to','too','under','until','up','ve','very','was','wasn',"wasn't",
                                               'we','were','weren',"weren't",'what','when','where','which','while',
                                               'who','whom','why','will','with','won',"won't",'wouldn',"wouldn't",
                                               'y','you',"you'd","you'll","you're","you've",'your','yours','yourself',
                                               'yourselves', 'mexican', 'las', 'vegas'}, 
                                               token_pattern="\\b[a-z][a-z]+\\b")

count_vectorizer.fit(neg_text)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None,
                stop_words={'a', 'about', 'above', 'after', 'again', 'against',
                            'ain', 'all', 'am', 'an', 'and', 'any', 'are',
                            'aren', "aren't", 'as', 'at', 'be', 'because',
                            'been', 'before', 'being', 'below', 'between',
                            'both', 'but', 'by', 'can', 'couldn', "couldn't", ...},
                strip_accents=None, token_pattern='\\b[a-z][a-z]+\\b',
                tokenizer=None, vocabulary=None)

In [13]:
doc_word = count_vectorizer.transform(neg_text)

In [14]:
#ex_label = [e[:30]+"..." for e in pos_text]
#ex_label = [e for e in pos_text]

In [15]:
#pd.DataFrame(doc_word.toarray(),index=ex_label,columns=vectorizer.get_feature_names()).head(2)
pd.DataFrame(doc_word.toarray(),columns=count_vectorizer.get_feature_names()).head(2)

,aa,aaa,aaaaaa,aaaaand,aaaaay,aaaack,aaaah,aaaand,aaaannnnd,aaaanyway,...,zuchini,zuchinni,zucini,zum,zumanity,zupas,zuzu,zzrdd,zzzzzz,zzzzzzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
from sklearn.decomposition import NMF
nmf_model = NMF(5)
doc_topic = nmf_model.fit_transform(doc_word)

In [31]:
nmf_model.components_.shape

(5, 36314)

In [56]:
topic_word = pd.DataFrame(nmf_model.components_.round(3),
             index = ["component_1","component_2","component_3","component_4","component_5"],
             columns = count_vectorizer.get_feature_names())
topic_word

,aa,aaa,aaaaaa,aaaaand,aaaaay,aaaack,aaaah,aaaand,aaaannnnd,aaaanyway,...,zuchini,zuchinni,zucini,zum,zumanity,zupas,zuzu,zzrdd,zzzzzz,zzzzzzz
component_1,0.000,0.001,0.000,0.001,0.000,0.0,0.000,0.000,0.000,0.0,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.0,0.0,0.0
component_2,0.000,0.000,0.000,0.000,0.000,0.0,0.001,0.000,0.000,0.0,...,0.000,0.000,0.0,0.0,0.000,0.001,0.000,0.0,0.0,0.0
component_3,0.000,0.000,0.001,0.000,0.000,0.0,0.001,0.000,0.000,0.0,...,0.001,0.002,0.0,0.0,0.001,0.001,0.001,0.0,0.0,0.0
component_4,0.000,0.001,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.0,...,0.000,0.001,0.0,0.0,0.000,0.000,0.000,0.0,0.0,0.0
component_5,0.003,0.000,0.000,0.000,0.001,0.0,0.000,0.004,0.001,0.0,...,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.0,0.0,0.0

In [57]:
def display_topics(model, feature_names, no_top_words, topic_names=None):
    for ix, topic in enumerate(model.components_):
        if not topic_names or not topic_names[ix]:
            print("\nTopic ", ix)
        else:
            print("\nTopic: '",topic_names[ix],"'")
        print(", ".join([feature_names[i]
                        for i in topic.argsort()[:-no_top_words - 1:-1]]))

In [58]:
display_topics(nmf_model, count_vectorizer.get_feature_names(), 10)

Topic  0
us, came, table, asked, said, service, would, server, one, minutes

Topic  1
food, service, place, good, great, restaurant, bad, better, eat, quality

Topic  2
good, like, place, really, chicken, salsa, ordered, burrito, chips, one

Topic  3
order, time, get, back, go, one, location, said, got, never

Topic  4
tacos, taco, asada, meat, carne, ordered, fish, line, bell, one

In [59]:
H = pd.DataFrame(doc_topic.round(5),
             columns = ["Topic 1","Topic 2","Topic 3","Topic 4","Topic 5"])
H.head()

   Topic 1  Topic 2  Topic 3  Topic 4  Topic 5
0  0.00000  0.00799  0.06583      0.0  0.00000
1  0.00000  0.00164  0.02805      0.0  0.00000
2  0.00000  0.00000  0.02926      0.0  0.04847
3  0.08936  0.05327  0.00000      0.0  0.00000
4  0.12274  0.18839  0.27625      0.0  0.05995

In [60]:
yelp_negative.reset_index(drop=True,inplace=True)

In [61]:
#H.to_csv('Topic_matrix.csv')

In [62]:
#pos_topics=pd.read_csv('Topic_matrix.csv')

In [63]:
merged_neg=yelp_negative.merge(H, left_index=True, right_index=True)

In [64]:
merged_neg.shape

(39450, 24)

In [65]:
merged_neg

,review_id,user_id,business_id,name,text,address,city,state,postal_code,latitude,...,Review Rating,Business Rating,Date,Year,Month,Topic 1,Topic 2,Topic 3,Topic 4,Topic 5
0,LCaef3e2Esy353kSeoD-xA,TQY1CtRrKuNJS4dSDLbjdw,dusNIzdCaH6EoLl2hRy6cQ,Chipotle Mexican Grill,"I'm a regular at chipotle in California, this ...",3475 Las Vegas Blvd S,Las Vegas,NV,89109.0,36.120095,...,1.0,3.5,2016-07-25 05:07:18,2016,7,0.00000,0.00799,0.06583,0.00000,0.00000
1,OmS7j5bHsjJl8KHr0B4UYA,XP096mIINH80XJidVoj7bg,eJPckkV1k7gn0V2awA1pzA,Soho Sushi Burrito,I'm so..... Heated... I bought the 3 amigo and...,"6040 W Badura Ave, Ste 150",Las Vegas,NV,89118.0,36.062737,...,5.0,4.5,2017-12-16 00:30:36,2017,12,0.00000,0.00164,0.02805,0.00000,0.00000
2,Ml_esxfn6ve_ooeK1KqHpQ,oS2y77hbb-bIt6c8HUEHRQ,5Mp-PD_CUaPoJr6CP-WBdA,Rubio's,I LOVE THEIR CHICKEN STREET TACOS!!! Btw this...,3770 S Las Vegas Blvd,Las Vegas,NV,89109.0,36.105021,...,5.0,3.0,2012-02-29 22:44:27,2012,2,0.00000,0.00000,0.02926,0.00000,0.04847
3,i6g_oA9Yf9Y31qt0wibXpw,ofKDkJKXSKZXu5xJNGiiBQ,5JxlZaqCnk1MnbgRirs40Q,Cabo Mexican Restaurant,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...","Red Rock Casino Resort & Spa, 11014 W Charlest...",Las Vegas,NV,89135.0,36.118343,...,1.0,3.5,2011-05-27 05:30:52,2011,5,0.08936,0.05327,0.00000,0.00000,0.00000
4,t57thGdsF0of7iFM7R2crQ,WaAOt_eG0_-yLpG3fI--3g,WP0M2cpWzhsMwk7kPtreRA,Viva Mercado's,It was a lonely cold evening and the roads wer...,3553 S Rainbow Blvd,Las Vegas,NV,89103.0,36.124842,...,3.0,4.0,2011-05-27 09:27:25,2011,5,0.12274,0.18839,0.27625,0.00000,0.05995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39445,f79TZOANp5EMES3-63UiHw,PSc3miQpdYkdrpJUThvquw,5-fpVbhoZcuSWatzof5YIg,Rubio's Coastal Grill,Good food. Great staff. I ordered ahead right ...,"1205 W Sunset Rd, Ste 130",Henderson,NV,89014.0,36.063083,...,4.0,3.5,2018-07-16 17:34:10,2018,7,0.00988,0.07233,0.03230,0.01091,0.00000
39446,7avvYKSNJE6gFybZHewNXw,tXLPnjti2Y8Wat3exIT97g,oXoVJ0xKv82cBo9U6oEjlQ,Chayo Mexican Kitchen + Tequila Bar,Wife and I decided to stop by and check it out...,3545 S Las Vegas Blvd,Las Vegas,NV,89109.0,36.117735,...,1.0,3.5,2015-02-01 07:00:51,2015,2,0.06452,0.06549,0.03398,0.05498,0.10325
39447,V-90EhasoLCmt2vIMCG-rQ,xfsO2gdkoiI2JzF8-S8elw,a192hdM0_UVCYLwPJv1Qwg,Casa Don Juan - Downtown,Customer service is lacking. Food is just oka...,1204 S Main St,Las Vegas,NV,89104.0,36.157156,...,1.0,4.0,2018-10-14 12:02:26,2018,10,0.02860,0.05933,0.10067,0.02335,0.00000
39448,3qjZMHLxVL3MI0_Hc2f9Eg,bMxlyLQSiGJ7UlyhPTdd_Q,pomGBqfbxcqPv14c3XH-ZQ,Leticia's Mexican Cocina,We were very disappointed in the food. We were...,"7585 Norman Rockwell Ln, Bldg 1",Las Vegas,NV,89143.0,36.298875,...,1.0,4.0,2018-10-20 22:06:52,2018,10,0.07367,0.15331,0.09609,0.00810,0.11811
39449,8HIFMH6xFF-zBP2GGsLBMg,T696tqfXCrRtmawJUkqfYg,GKCX2DlxkbwY2DUu44u4rA,Super Mex Restaurant & Cantina,I love SuperMex! I go here for either lunch or...,6450 S Durango Dr,Las Vegas,NV,89113.0,36.071411,...,5.0,3.0,2013-07-09 04:32:55,2013,7,0.00204,0.04768,0.12158,0.07905,0.01747

In [66]:
merged_neg.columns

Index(['review_id', 'user_id', 'business_id', 'name', 'text', 'address',
       'city', 'state', 'postal_code', 'latitude', 'longitude', 'attributes',
       'categories', 'Sentiment', 'Review Rating', 'Business Rating', 'Date',
       'Year', 'Month', 'Topic 1', 'Topic 2', 'Topic 3', 'Topic 4', 'Topic 5'],
      dtype='object')

In [67]:
merged_neg.to_csv('Yelp_Neg_Topics.csv',index=False)